<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if pagina.name %}{{ pagina.name }} - {% endif %}{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% if pagina.keywords %}{{ pagina.keywords }}{% endif %}">
    <meta name="description" content="{% if pagina.description %}{{ pagina.description }}{% endif %}">
    <meta name="author" content="{% if pagina.author %}{{ pagina.author|safe }}{% endif %}">

    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="span3">
                <a href="{% url 'core:home' %}"><img src="{{ STATIC_URL }}img/marca_refritek.png"></a>
            </div>
            <div class="span9">
                <ul class="nav nav-pills pull-right">
                    {% block menu %}
                        <li><a href="{% url 'core:home' %}">Início</a></li>
                        <li><a href="{% url 'core:sobre' %}">A empresa</a></li>
                        <li><a href="#">Contato</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span12">
                <span class="muted">{% if pagina.footer_content %}{{ pagina.footer_content }}{% endif %}</span>
            </div>
        </div>
    </div>
</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
