<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if pagina.name %}{{ pagina.name }} - {% endif %}{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% if pagina.keywords %}{{ pagina.keywords }}{% endif %}">
    <meta name="description" content="{% if pagina.description %}{{ pagina.description }}{% endif %}">
    <meta name="author" content="{% if pagina.author %}{{ pagina.author|safe }}{% endif %}">

    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="span3">
                <a href="{% url 'core:home' %}"><img src="{{ STATIC_URL }}img/marca_refritek.png"></a>
            </div>
            <div class="span9">
                <ul class="nav nav-pills pull-right">
                    {% block menu %}
                        {% include "core/menu-topo.html" %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span1">
                <a href="https://facebook.com/refritek" target="_blank">
                    <img src="{{ STATIC_URL }}img/fb-icon.png" width="36" height="38" alt="Facebook" title="Refritek no Facebook">
                </a>
            </div>
            <div class="span7">
                <div class="muted">
                    {% if pagina.footer_content %}{{ pagina.footer_content|linebreaks }}{% endif %}
                </div>
            </div>
            <div class="span4" style="text-align: right">
                {% if cartoes %}
                    <div style="padding-bottom: 3px; text-align: right">
                        <strong>Aceitamos os cartões</strong>
                    </div>
                    <div style="text-align: right; padding-top: 3px">
                        {% for cartao in cartoes %}
                        <img style="margin-left: 3px"
                            src="{{ cartao.imagem.url }}" title="{{ cartao.nome }}" alt="{{ cartao.nome }}">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
