{% extends "core/base.html" %}
{% block title %}Contato{% endblock %}

{% block scripts %}
    <script>$(".site-contato").addClass("active");</script>
{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12">

                {% if pagina.titulo_contato and pagina.subtitulo_contato %}
                <div class="page-header">
                    <h1>{{ pagina.titulo_contato }} <small>{{ pagina.subtitulo_contato }}</small></h1>
                </div>
                {% endif %}

                <div class="row">
                    <div class="span12">
                        {{ contato.maps|safe }}
                    </div>
                </div><br>

                <div class="destaque-text">
                    {{ contato.desc|safe }}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}