{% extends "core/base.html" %}
{% block title %}Início{% endblock %}

{% block scripts %}
    <script>$(".site-home").addClass("active");</script>
{% endblock %}

{% block content %}

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        {% for count_slide in sliders %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for slide in sliders %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <img src="{{ slide.imagem.url }}" alt="{{ slide.nome }}">

                            {% if slide.titulo or slide.desc or slide.html_desc %}
                            <div class="carousel-caption">
                                {% if slide.titulo %}
                                <h4>{{ slide.titulo }}</h4>
                                {% endif %}

                                {% if slide.desc %}
                                <p>{{ slide.desc }}</p>
                                {% elif slide.html_desc %}
                                    {{ slide.html_desc }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12">

                {% if pagina.titulo_destaque and pagina.subtitulo_destaque %}
                <div class="page-header">
                    <h1>{{ pagina.titulo_destaque }} <small>{{ pagina.subtitulo_destaque }}</small></h1>
                </div>
                {% endif %}

                <ul class="thumbnails">
                    {% for produto in produtos %}
                        <li class="span3">
                            <a href="#" class="thumbnail">
                                <img src="{{ produto.imagem.url }}">
                            </a>
                        </li>
                    {% empty %}
                        <li>Não há produtos em destaque</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}