{% extends "core/base.html" %}
{% block title %}{{ object.nome }} produto da empresa {{ object.empresa.nome }}{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="page-header">
                    <h1>{{ object.nome }} <small>Produto da empresa {{ object.empresa.nome }}</small></h1>
                </div>

                <!-- descricao do produto -->
                <div class="row">
                    <div class="span4">
                        <img src="{{ object.imagem.url }}" title="{{ object.nome }}" alt="{{ object.nome }}">
                    </div>
                    <div class="span8">
                        <h3>Descrição do produto</h3>
                        {{ object.desc|linebreaks }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}