{% extends "core/base.html" %}
{% block title %}{{ object.nome }}{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="page-header">
                    <h1>{{ object.nome }} <small>Clique no produto para mais detalhes</small></h1>
                </div>

                <ul class="thumbnails">
                    {% for produto in object.produto_set.all %}
                        <li class="span2">
                            <a href="{{ produto.get_absolute_url }}" class="thumbnail">
                                <img src="{{ produto.thumb.url }}" alt="{{ produto.nome }}" title="{{ produto.nome }}">
                            </a>
                        </li>
                    {% empty %}
                        <li>Não há produtos cadastrados para essa empresa</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>

{% endblock %}