{% extends "core/base.html" %}
{% block title %}Sobre a empresa{% endblock %}

{% block menu %}
    <li><a href="{% url 'core:home' %}">Início</a></li>
    <li class="active"><a href="{% url 'core:sobre' %}">A empresa</a></li>
    <li><a href="{% url 'core:contato' %}">Contato</a></li>
{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12">

                {% if pagina.titulo_sobre and pagina.subtitulo_sobre %}
                <div class="page-header">
                    <h1>{{ pagina.titulo_sobre }} <small>{{ pagina.subtitulo_sobre }}</small></h1>
                </div>
                {% endif %}

                <div class="destaque-text">
                    {{ sobre.desc|linebreaks }}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}